/* verison 1.1 - prophet */
/* line 10, master.scss */
body {
  background: url(images/background_bg.gif) top center repeat-y;
  background-color: #050505;
  color: #fff;
  margin: 0px;
  padding: 0px;
}

/* line 18, master.scss */
body a {
  color: #fff;
}

/* line 23, master.scss */
#content_body {
  position: relative;
  top: 0px;
  border: 1px solid #000;
  width: 948px;
  margin: 0px auto 0px auto;
  background-color: #050505;
  padding: 0px;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 35, master.scss */
#content_body .left_sidebar_content {
  display: block;
  width: 250px;
  float: left;
}
/* line 41, master.scss */
#content_body .right_sidebar_content {
  display: block;
  width: 250px;
  float: right;
}
/* line 47, master.scss */
#content_body .main_content {
  display: block;
  float: left;
  width: 693px;
}
/* line 52, master.scss */
#content_body .right_content {
  display: block;
  width: 250px;
  float: right;
}
/* line 58, master.scss */
#content_body .ccm-core-commerce-add-to-cart-callout {
  color: #000;
  text-align: left;
}
/* line 61, master.scss */
#content_body .ccm-core-commerce-add-to-cart-callout td {
  text-align: left;
}

/* line 68, master.scss */
.clear, .clearfix {
  display: block;
  clear: both;
}

/* line 73, master.scss */
#header_logo {
  width: 151px;
  height: 99px;
  display: block;
  background: url(images/header_logo.png) top left no-repeat;
  float: left;
}

/* line 81, master.scss */
.home_slideshow {
  display: block;
}

/* line 85, master.scss */
#header_navigation {
  display: block;
  float: left;
  position: relative;
  margin-top: 40px;
}
/* line 90, master.scss */
#header_navigation a {
  font-size: 18px;
  text-decoration: none;
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px 7px 5px 7px;
}
/* line 97, master.scss */
#header_navigation a.nav-selected, #header_navigation a:hover {
  background-color: #fff;
  color: #00aae7;
}

/* line 103, master.scss */
#nav_btns {
  display: block;
  float: right;
  margin-right: 10px;
  position: relative;
  margin-top: 12px;
  height: 60px;
  overflow: hidden;
}
/* line 113, master.scss */
#nav_btns a {
  display: block;
  float: left;
  width: 41px;
  height: 42px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
  padding-top: 41px;
  padding-bottom: -80px;
}
/* line 127, master.scss */
#nav_btns .cart_link {
  background: url(images/cart_btn.png) top left no-repeat;
}
/* line 130, master.scss */
#nav_btns .login_link {
  background: url(images/login_btn.png) top left no-repeat;
}

/* line 135, master.scss */
#header {
  display: block;
  margin: 0px auto 0px auto;
  width: 1246px;
}
/* line 140, master.scss */
#header .left {
  width: 138px;
  height: 169px;
  display: block;
  float: left;
  background: url(images/top_left.png) top left no-repeat;
  overflow: hidden;
}
/* line 149, master.scss */
#header .center {
  width: 969px;
  height: 169px;
  display: block;
  float: left;
  background: url(images/top_center.png) top left no-repeat;
}
/* line 157, master.scss */
#header .right {
  width: 139px;
  height: 169px;
  display: block;
  float: left;
  background: url(images/top_right.png) top left no-repeat;
}

/* line 168, master.scss */
#footer {
  display: block;
  margin: 0px auto 0px auto;
  width: 1246px;
}
/* line 173, master.scss */
#footer .left {
  width: 138px;
  height: 226px;
  display: block;
  float: left;
  background: url(images/bottom_left.png) top left no-repeat;
  overflow: hidden;
}
/* line 182, master.scss */
#footer .center {
  width: 969px;
  height: 226px;
  display: block;
  float: left;
  background: url(images/bottom_center.png) top left no-repeat;
}
/* line 190, master.scss */
#footer .right {
  width: 139px;
  height: 226px;
  display: block;
  float: left;
  background: url(images/bottom_right.png) top left no-repeat;
}
/* line 198, master.scss */
#footer .footer_logo {
  display: block;
  float: right;
  width: 148px;
  height: 96px;
  background: url(images/bottom_logo.png) top left no-repeat;
  position: relative;
  top: 75px;
  right: 30px;
}
/* line 209, master.scss */
#footer .footer_navigation {
  display: block;
  float: left;
  position: relative;
  left: 20px;
  margin-top: 80px;
}
/* line 215, master.scss */
#footer .footer_navigation a {
  font-size: 18px;
  text-decoration: none;
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px 7px 5px 7px;
}
/* line 222, master.scss */
#footer .footer_navigation a:hover {
  text-decoration: underline;
}
/* line 227, master.scss */
#footer .copyright {
  display: block;
  font-size: 11px;
  position: relative;
  top: 60px;
  left: 10px;
}
