/* verison 1.5 - in over my head */
/* line 36, master.scss */
html, body {
  background-color: #dfdad1;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 42, master.scss */
body {
  background: url(images/in-over-my-head-bg.jpg) top center repeat-x;
  background-attachment: fixed;
  color: #333333;
  margin: 0px;
  padding: 0px;
}

/* line 53, master.scss */
body a {
  color: #e91d25;
}
/* line 56, master.scss */
body a:hover {
  color: #dc393f;
}

/* line 63, master.scss */
#container img {
  border: none;
}

/* line 69, master.scss */
#container {
  background-color: white;
  width: 1000px;
  margin: 0px auto 0px auto;
  padding: 0px 20px;
}

/* line 78, master.scss */
#content_body {
  position: relative;
  top: 0px;
  border: none;
  width: 988px;
  margin: 0px auto 0px auto;
  padding: 0px;
  display: block;
}
/* line 87, master.scss */
#content_body .left_sidebar_content {
  display: block;
  width: 250px;
  float: left;
}
/* line 93, master.scss */
#content_body .right_sidebar_content {
  display: block;
  width: 250px;
  float: right;
  position: relative;
  right: -10px;
}
/* line 101, master.scss */
#content_body .main_content {
  display: block;
  float: left;
  width: 733px;
}
/* line 106, master.scss */
#content_body .right_content {
  display: block;
  width: 250px;
  float: right;
}
/* line 112, master.scss */
#content_body .ccm-core-commerce-add-to-cart-callout {
  color: #000;
  text-align: left;
}
/* line 115, master.scss */
#content_body .ccm-core-commerce-add-to-cart-callout td {
  text-align: left;
}

/* line 122, master.scss */
.clear, .clearfix {
  display: block;
  clear: both;
}

/* line 127, master.scss */
#header_logo {
  width: 151px;
  height: 99px;
  display: block;
  background: url(images/header_logo_trans_dark.png) top left no-repeat;
  float: left;
}

/* line 135, master.scss */
.home_slideshow {
  display: block;
}

/* line 139, master.scss */
#header_navigation {
  display: block;
  float: left;
  position: relative;
  top: 240px;
  left: 20px;
  background: #333;
  padding: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
/* line 150, master.scss */
#header_navigation a {
  font-size: 16px;
  text-decoration: none;
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px 7px 5px 7px;
  color: white;
  text-transform: uppercase;
}
/* line 159, master.scss */
#header_navigation a.nav-selected, #header_navigation a:hover {
  color: #e91d25;
}

/* line 164, master.scss */
#nav_btns {
  display: block;
  float: right;
  margin-right: 10px;
  position: relative;
  margin-top: 12px;
  height: 60px;
  overflow: hidden;
}
/* line 174, master.scss */
#nav_btns a {
  display: block;
  float: left;
  width: 43px;
  height: 42px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
  padding-top: 41px;
  padding-bottom: -80px;
  color: #e91d25;
}
/* line 189, master.scss */
#nav_btns a:hover {
  color: #dc393f;
}
/* line 194, master.scss */
#nav_btns .cart_link {
  background: url(images/cart_btn_trans_2.png) top left no-repeat;
}
/* line 197, master.scss */
#nav_btns .login_link {
  background: url(images/login_btn_trans_2.png) top left no-repeat;
}

/* line 202, master.scss */
#header {
  display: block;
  margin: 0px auto 20px auto;
  width: 1000px;
  height: 140px;
  padding-bottom: 138px;
  background: url(images/in-over-my-head-header.jpg) 0px -150px no-repeat;
}
/* line 209, master.scss */
#header .left {
  width: 138px;
  display: block;
  float: left;
  /*
  background: url(images/top_left.png) top left no-repeat;
  overflow: hidden; */
}
/* line 218, master.scss */
#header .center {
  width: 969px;
  display: block;
  float: left;
  position: relative;
  left: 20px;
  /*
  background: url(images/top_center.png) top left no-repeat;
  */
}
/* line 229, master.scss */
#header .right {
  width: 139px;
  display: block;
  float: left;
  /*
  background: url(images/top_right.png) top left no-repeat;
  */
}

/* line 241, master.scss */
#footer {
  display: block;
  margin: 0px auto 0px auto;
  width: 1000px;
  padding-bottom: 100px;
  background: url(images/in-over-my-head-footer.jpg) bottom left no-repeat;
}
/* line 248, master.scss */
#footer .left {
  width: 138px;
  height: 226px;
  display: block;
  float: left;
  /*
  background: url(images/bottom_left.png) top left no-repeat;
  overflow: hidden;
  */
}
/* line 259, master.scss */
#footer .center {
  width: 969px;
  height: 226px;
  display: block;
  float: left;
  /*
  background: url(images/bottom_center.png) top left no-repeat;
  */
}
/* line 269, master.scss */
#footer .right {
  width: 139px;
  height: 226px;
  display: block;
  float: left;
  /*
  background: url(images/bottom_right.png) top left no-repeat;
  */
}
/* line 279, master.scss */
#footer .footer_logo {
  display: block;
  float: right;
  width: 151px;
  height: 99px;
  background: url(images/header_logo_trans_dark.png) top left no-repeat;
  opacity: 0.1;
  filter: alpha(opacity=10);
  zoom: 1;
  position: relative;
  top: 75px;
  right: 30px;
}
/* line 291, master.scss */
#footer .footer_navigation {
  display: block;
  float: left;
  position: relative;
  left: 20px;
  margin-top: 80px;
}
/* line 297, master.scss */
#footer .footer_navigation a {
  font-size: 18px;
  text-decoration: none;
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px 7px 5px 7px;
}
/* line 304, master.scss */
#footer .footer_navigation a {
  font-size: 14px;
}
/* line 309, master.scss */
#footer .footer_navigation a:hover {
  text-decoration: none;
}
/* line 314, master.scss */
#footer .copyright {
  display: block;
  font-size: 11px;
  position: relative;
  top: 60px;
  left: 30px;
}

/* misc classes and tweaks */
/* line 325, master.scss */
#featured_player {
  text-align: center;
}

/* line 331, master.scss */
#container .ccm-block-styles {
  border: none;
}

/* line 335, master.scss */
#container .ccm-button {
  clear: both;
  padding-bottom: 10px;
  padding-top: 10px;
  background: none;
}
