/* verison 1.4 - prophet */

@mixin round_corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin opacity($percent) {

  opacity: $percent / 100;
  filter: alpha(opacity = $percent);
  zoom: 1;

}

$width: 1000px;

html, body {

background-color: #150802;

}
body {
 
  background: url(images/The-Prophets-Son_web.jpg) top center repeat-x;
  background-attachment:fixed;
  color: #fff;
  margin: 0px;
  padding: 0px;
}

body {

  a {
    color: #fcdb7e;

      &:hover {
      color:#FFF;
        }
  }

}

#container {

background-color: #150802;
width: $width;
margin: 0px auto 0px auto;
padding:0px 20px;

}

#content_body {
  position: relative;
  top: 0px;
  border: none;
  width: $width - 12px;
  margin: 0px auto 0px auto;
  background-color: #150802;;
  padding: 0px;
  display: block;

  .left_sidebar_content {
    display: block;
    width: 250px;
    float: left;
  }
  
  .right_sidebar_content {
    display: block;
    width: 250px;
    float: right;
  }
  
  .main_content {
    display: block;
    float: left;
    width: ($width - 12px) - 255px;
  }
  .right_content {
    display: block;
    width: 250px;
    float: right;
  }
  
  .ccm-core-commerce-add-to-cart-callout {
    color: #000;
    text-align: left;
    td {
      text-align: left;
    }
  }
}


.clear, .clearfix {
  display: block;
  clear: both;
}

#header_logo {
  width: 151px;
  height: 99px;
  display: block;
  background: url(images/header_logo_trans.png) top left no-repeat;
  float: left;
}

.home_slideshow {
  display: block;  
}

#header_navigation {
  display: block;
  float: left;
  position: relative;
    top: 80px;
    left:20px;
    background:url(images/strong_headernav_bg.png) top left repeat-x;
padding:10px;

@include round_corners(15px);

  a {
    font-size: 16px;
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px 7px 5px 7px;
    color:#fcdb7e;
    text-transform:uppercase;
  }
  a.nav-selected, a:hover {
    color: #FFF;
  }
}

#nav_btns {
  display: block;
  float: right;
  margin-right: 10px; 
  position: relative;

  margin-top: 12px;
  height: 60px;
  overflow: hidden;
  
  a {
    display: block;
    float: left;
    width: 43px;
    height: 42px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    padding-top: 41px;
    padding-bottom: -80px;
    color: #FFF;

      &:hover{
        color: #fcdb7e;
      }

  }
  .cart_link {
    background: url(images/cart_btn_trans.png) top left no-repeat;
  }
  .login_link {
    background: url(images/login_btn_trans.png) top left no-repeat;
  }
}

#header {
  display: block;
  margin: 0px auto 20px auto;
  width: $width;
  height: 140px;
  padding-bottom:138px;
  background: url(images/prophet_header2.jpg) bottom left no-repeat;

  .left {
    width: 138px;
    display: block;
    float: left;
    /*
    background: url(images/top_left.png) top left no-repeat;
    overflow: hidden; */
  }

  .center {
    width: 969px;
    display: block;
    float: left;
    position: relative;
    left:20px;
    /*
    background: url(images/top_center.png) top left no-repeat;
    */
  }

  .right {
    width: 139px;
    display: block;
    float: left;
    /*
    background: url(images/top_right.png) top left no-repeat;
    */
  }
}



#footer {
  display: block;
  margin: 0px auto 0px auto;
  width: $width;
  padding-bottom:100px;
  background: url(images/prophet_footer.jpg) bottom left no-repeat;

  .left {
    width: 138px;
    height: 226px;
    display: block;
    float: left;
    /*
    background: url(images/bottom_left.png) top left no-repeat;
    overflow: hidden;
    */
  }

  .center {
    width: 969px;
    height: 226px;
    display: block;
    float: left;
    /*
    background: url(images/bottom_center.png) top left no-repeat;
    */
  }

  .right {
    width: 139px;
    height: 226px;
    display: block;
    float: left;
    /*
    background: url(images/bottom_right.png) top left no-repeat;
    */
  }
  
  .footer_logo {
    display: block;
    float: right;
    width: 151px;
    height: 99px;
    background: url(images/header_logo_trans.png) top left no-repeat;
    @include opacity(10);
    position: relative;
    top: 75px;
    right: 30px;
  }
  
  .footer_navigation {
    display: block;
    float: left;
    position: relative;
    left: 20px;
    margin-top: 80px;
    a {
      font-size: 18px;
      text-decoration: none;
      margin-left: 2px;
      margin-right: 2px;
      padding: 5px 7px 5px 7px;
    }
    a {

      font-size:14px;

    }
    a:hover {
      text-decoration: none;
    }
  }
  
  .copyright {
    display: block;
    font-size: 11px;
    position: relative;
    top: 60px;
    left: 30px;
  }
}

/* misc classes and tweaks */

#featured_player {

  text-align: center;

}

#container .ccm-block-styles {
border:none;
}

#container .ccm-button {
    clear: both;
    padding-bottom: 10px;
    padding-top: 10px;
    background: none;
}

