/* verison 1.6 - in over my head */

@mixin round_corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin opacity($percent) {

  opacity: $percent / 100;
  filter: alpha(opacity = $percent);
  zoom: 1;

}

$general-bg-color: #dfdad1;
$content-bg-color: #fff;

$general-anchor-links: #e91d25;
$general-anchor-hover: #dc393f;
$general-text-color: #333;
$general-title-color: #e91d25;

$header-nav-anchor: #FFF;
$header-nav-anchor-hover: #e91d25;
$header-text: #333;

$footer-nav-anchor: #e91d25;
$footer-nav-anchor-hover: #e91d25;
$footer-text: #333;


$width: 1000px;

html, body {

background-color: $general-bg-color;
font-family: Arial, Helvetica, sans-serif;

}
body {
 
  background: url(images/in-over-my-head-bg.jpg) top center repeat-x;
  background-attachment:fixed;
  color: $general-text-color;
  margin: 0px;
  padding: 0px;
}

body {

  a {
    color: $general-anchor-links;

      &:hover {
      color:$general-anchor-hover;
        }
  }

}

#container img {

border: none;

}

#container {

background-color: $content-bg-color;
width: $width;
margin: 0px auto 0px auto;
padding:0px 20px;

}

#content_body {
  position: relative;
  top: 0px;
  border: none;
  width: $width - 12px;
  margin: 0px auto 0px auto;
  padding: 0px;
  display: block;

  .left_sidebar_content {
    display: block;
    width: 250px;
    float: left;
  }
  
  .right_sidebar_content {
    display: block;
    width: 250px;
    float: right;
    position: relative;
    right: -10px;
  }
  
  .main_content {
    display: block;
    float: left;
    width: ($width - 12px) - 255px;
  }
  .right_content {
    display: block;
    width: 250px;
    float: right;
  }
  
  .ccm-core-commerce-add-to-cart-callout {
    color: #000;
    text-align: left;
    td {
      text-align: left;
    }
  }
}


.clear, .clearfix {
  display: block;
  clear: both;
}

#header_logo {
  width: 151px;
  height: 99px;
  display: block;
  background: url(images/header_logo_trans_dark.png) top left no-repeat;
  float: left;
}

.home_slideshow {
  display: block;  
}

#header_navigation {

  display: block;
  float: left;
  position: absolute;
  width:100%;
  top: 240px;
  left: -14px;
  background: #333;
  padding: 10px;

  a {
    font-size: 16px;
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px 50px 5px 7px;
    color:$header-nav-anchor;
    text-transform:uppercase;
    position:relative;
    left:60px;
    font-weight: 700;
    filter: dropshadow(color=#000000, offx=2, offy=2);
    text-shadow: 2px 2px 2px #000;
  }
  a.nav-selected, a:hover {
    color: $header-nav-anchor-hover;
  }
}

#nav_btns {
  display: block;
  float: right;
  margin-right: 10px; 
  position: relative;

  margin-top: 12px;
  height: 60px;
  overflow: hidden;
  
  a {
    display: block;
    float: left;
    width: 43px;
    height: 42px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    padding-top: 41px;
    padding-bottom: -80px;
    color: $general-anchor-links;

      &:hover{
        color: $general-anchor-hover;
      }

  }
  .cart_link {
    background: url(images/cart_btn_trans_2.png) top left no-repeat;
  }
  .login_link {
    background: url(images/login_btn_trans_2.png) top left no-repeat;
  }
}

#header {
  display: block;
  margin: 0px auto 20px auto;
  width: $width;
  height: 140px;
  padding-bottom:138px;
  background: url(images/in-over-my-head-header.jpg) 7px -150px no-repeat;
  .left {
    width: 138px;
    display: block;
    float: left;
    /*
    background: url(images/top_left.png) top left no-repeat;
    overflow: hidden; */
  }

  .center {
    width: 969px;
    display: block;
    float: left;
    position: relative;
    left:20px;
    /*
    background: url(images/top_center.png) top left no-repeat;
    */
  }

  .right {
    width: 139px;
    display: block;
    float: left;
    /*
    background: url(images/top_right.png) top left no-repeat;
    */
  }
}



#footer {
  display: block;
  margin: 0px auto 0px auto;
  width: $width;
  padding-bottom:100px;
  background: url(images/in-over-my-head-footer.jpg) bottom left no-repeat;

  .left {
    width: 138px;
    height: 226px;
    display: block;
    float: left;
    /*
    background: url(images/bottom_left.png) top left no-repeat;
    overflow: hidden;
    */
  }

  .center {
    width: 969px;
    height: 226px;
    display: block;
    float: left;
    /*
    background: url(images/bottom_center.png) top left no-repeat;
    */
  }

  .right {
    width: 139px;
    height: 226px;
    display: block;
    float: left;
    /*
    background: url(images/bottom_right.png) top left no-repeat;
    */
  }
  
  .footer_logo {
    display: block;
    float: right;
    width: 151px;
    height: 99px;
    background: url(images/header_logo_trans_dark.png) top left no-repeat;
    @include opacity(10);
    position: relative;
    top: 75px;
    right: 30px;
  }
  
  .footer_navigation {
    display: block;
    float: left;
    position: relative;
    left: 20px;
    margin-top: 80px;
    a {
      font-size: 18px;
      text-decoration: none;
      margin-left: 2px;
      margin-right: 2px;
      padding: 5px 7px 5px 7px;
    }
    a {

      font-size:14px;

    }
    a:hover {
      text-decoration: none;
    }
  }
  
  .copyright {
    display: block;
    font-size: 11px;
    position: relative;
    top: 60px;
    left: 30px;
  }
}

/* misc classes and tweaks */

#featured_player {

  text-align: center;

}

#container .ccm-block-styles {
border:none;
}

#container .ccm-button {
    clear: both;
    padding-bottom: 10px;
    padding-top: 10px;
    background: none;
}

